wp-admin/
wp-includes/
wp-config.php
.htaccess
.env
*.log
*.sql
local-xdebuginfo.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backups/
wp-content/*
content/themes/
content/themes/planty/
