/*
Theme Name: Blocksy Child
Theme URI: https://creativethemes.com/blocksy/
Template: blocksy
Author: CreativeThemes
Author URI: https://creativethemes.com
Description: Blocksy is a fast, modern WordPress theme with advanced WooCommerce support and full compatibility with the block editor.
Tags: accessibility-ready,blog,block-patterns,e-commerce,wide-blocks,block-styles,grid-layout,one-column,two-columns,three-columns,four-columns,right-sidebar,left-sidebar,translation-ready,custom-colors,custom-logo,custom-menu,featured-images,footer-widgets,full-width-template,theme-options,threaded-comments
Version: 2.1.15.1760451114
Updated: 2025-10-14 16:11:54

*/

/*css hook admin*/
.admin-text span {
  font-family: 'Syne', sans-serif !important;
  font-weight: 400 !important;
  color: #000000 !important;
  padding-left: 16px !important;
}


.ct-container-full {
  padding: 0px;
  width: 100%;
}

.titre_page {
  font-size: clamp(16px, 3vw, 40px) !important;
  text-align: center;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.titre_section {
  font-size: clamp(20px, 2.5vw, 30px) !important;
}

.canette_main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 100%;
  background-color: #fdfdfd;
}

/*canette first plan*/
.canette_main .canette {
  position: relative;
  z-index: 2;
  width: 300px;
}

/*feuille gauche et droite*/
.canette_main .feuille_left {
  position: absolute;
  top: 150px;
  left: 30%;
  z-index: 1;
  width: 250px;
}

.canette_main .feuille_right {
  position: absolute;
  top: 25%;
  right: 30%;
  z-index: 1;
  width: 250px;
}

/*fin reglage canette et feuille*/

/* les gouts*/
.button_envoyer {
  background-color: #C02E44;
  border-radius: 5px;
}

.btn-fraise:hover {
  background-color: #DC9F96;
}


/* Courbe décorative */
.border_curve {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: visible;
  line-height: 0;
  z-index: 2;
}

.border_curve svg {
  display: block;
  width: 100%;
  height: clamp(45px, 10vw, 10px);
  margin-bottom: -1px;
}

.border_curve .shape-fill {
  fill: #FFFFFF;
}

/*formulaire de contact*/
/* Uniformiser la hauteur du textarea */
.field textarea {
  height: 40px;
  resize: none !important;
}

/*reglage dimension case message*/
.champ_message {
  padding: 0 !important;
  height: 10em !important;
}


/*bouton envoyer*/


/* formulaire precommande*/
.gouts-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 60px;
  margin-bottom: 3%;
  border-bottom: #FFFFFF solid 1px;
}

.gout-block {
  max-width: 200px !important;
  max-height: 140px !important;
  border-radius: 5px !important;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}


/* Champ quantité */
.champ-quantite {
  display: block !important;
  max-width: 35px !important;
  max-height: 55px !important;
  margin-top: 5% !important;
  padding: 5px !important;
  border: none !important;
  background-color: white !important;
  color: #000000;
  font-size: 16px !important;
}

.champ-quantite::-webkit-inner-spin-button,
.champ-quantite::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.champ-quantite::placeholder {
  color: #000000 !important;
  opacity: 1 !important;
}


.wpcf7-form-control-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteneur principal */
.columns_title {
  color: #FFFFFF !important;
  margin-bottom: 7% !important;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: transparent;
  font-family: 'Syne', sans-serif;
}

/* Grille */
.row {
  display: flex;
  flex-wrap: wrap;
}

/*saparation colonne*/
.columns.one-half:first-child {
  border-right: 1px solid white;
}

.page-id-385 p .has-white-color,
.page-id-385 .has-text-color,
.page-id-385 .has-link-color,
.page-id-385 .wp-elements-89568c965b2d81bd577280a65e169de7 {
  border-top: #FFFFFF solid 1px !important;
  padding-top: 5% !important;
  width: 100% !important;
}

.columns.one-half {
  padding-right: 15px !important;
  flex: 1 1 45%;
}

.columns.full {
  width: 100%;
}

/* Champs */
.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
  color: #ffffff;
}

.field input[type="text"],
.field input[type="email"],
.field textarea {
  width: 100% !important;
  padding: 12px;
  border: none;
  border-radius: 5px !important;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  box-sizing: border-box;
}

/* Uniformiser la hauteur du textarea */
.field textarea {
  height: 40px;
  resize: none !important;
}

/*reglage dimension case message*/
.champ_message {
  padding: 0 !important;
  height: 10em !important;
}

/* Info-tip */
.info-tip {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 4px;
}

/* Bouton */
.container {
  display: flex !important;
  justify-content: center !important;
  padding: 0px 0px 30px 60px !important;
}

.cf7sg-popup-box {
  margin: 0 auto !important;
}

/*le bouton lui-même */

.wpcf7-f388-p347-o1 .wpcf7-submit {
  display: flex !important;
  justify-content: center !important;
  max-width: 200px !important;
  max-height: 55px !important;
  background-color: #C02E44;
  color: white;
  font-size: 16px !important;
  font-weight: bold !important;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px !important;
}

.wpcf7-submit {
  display: flex !important;
  justify-content: center !important;
  max-width: 200px !important;
  max-height: 55px !important;
  background-color: #C02E44;
  color: white;
  font-size: 16px !important;
  font-weight: bold !important;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5px !important;
  margin-top: 10px !important;
}


/*media queries responsive*/

@media (max-width: 1025px) {
  .text-gout {
    font-size: clamp(30px, 3vw, 50px) !important;
  }
}

@media (max-width: 768px) {

  img.wp-image-356,
  img.wp-image-73,
  img.wp-image-73,
  img.wp-image-72 {
    display: none !important;
  }

  :root :where(.is-layout-flex) {
    gap: 0px !important;
  }

  .text {
    font-size: clamp(11px, 3vw, 20px) !important;
  }

  /*grid de gout en colonne*/
  body .is-layout-grid {
    grid-template-columns: 1fr !important;
    gap: 10px !important;
    padding: 10% !important;
  }
}